@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


body,
input,
textarea,
button,
select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}


html,
body {
    background-image: url('https://img.freepik.com/premium-photo/abstract-background-beautiful-close-up-image-ai-generated_859483-217986.jpg?size=626&ext=jpg&ga=GA1.1.1141335507.1718323200&semt=ais_user');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #02f940;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding-top: 1em;
}

header nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
}


header nav ul li {
    margin: 0 1em;
}

header nav ul li.logout {
    margin-left: auto;
}

header nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #02f940;
}



main {
    padding-top: 7em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


input {
    height: 1.5em;
    margin: 0;
    padding: .25em .5em;
}


select {
    height: 2.5em;
}

select[multiple] {
    height: 7.5em;
}


textarea {
    margin: 0;
    padding: .25em .5em;
}

table {
    width: 100%;
}


.helptext {
    display: block;
    font-size: 80%;
}


.login-form,
.signup-form {
    /* background: transparent; */
    background-image: url('https://img.freepik.com/free-vector/background-wave-gradient-minimalist-style_483537-5264.jpg?w=2000&t=st=1720561402~exp=1720562002~hmac=5a1b2f5a131b11fe86c4ad76298b72a8d5fddc46a1873f4b9006caa64d115530');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 400px;
    padding: 2em;
    color: #020202;
}

.task-form,
.project-form {
    background-image: url('https://img.freepik.com/free-vector/background-wave-gradient-minimalist-style_483537-5264.jpg?w=2000&t=st=1720561402~exp=1720562002~hmac=5a1b2f5a131b11fe86c4ad76298b72a8d5fddc46a1873f4b9006caa64d115530');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 600px;
    padding: 2em;
    color: #010101;
}

.task-form h1,
.login-form h1,
.signup-form h1,
.project-list h1,
.project-form h1,
.project-detail h1 {
    margin-top: 0;
}

.task-form p,
.login-form p,
.signup-form p,
.project-form p {
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: 100px 1fr;
}

.task-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext {
    grid-column-start: 2;
    grid-column-end: 3;
}


.task-form button,
.my-tasks-list button,
.login-form button,
.signup-form button,
.project-form button {
    padding: 0.25em 1em;
}

.my-tasks-list,
.project-list,
.project-detail {
    background-image: url('https://img.freepik.com/free-vector/background-wave-gradient-minimalist-style_483537-5264.jpg?w=2000&t=st=1720561402~exp=1720562002~hmac=5a1b2f5a131b11fe86c4ad76298b72a8d5fddc46a1873f4b9006caa64d115530');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 800px;
    padding: 2em;
    color: #040404;
}


.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
    padding: .5em;
}

.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
    border-bottom: 2px solid #DEDEDE;
}

.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
    text-align: center;
}

.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
    border-bottom: 1px solid #DEDEDE;
}

footer {
    background: transparent;
    border-top: 0px solid #CCC;
    box-sizing: border-box;
    padding: .25em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    z-index: 1000;
    /* Ensure the footer is above other content */
}
