{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-form">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Login</button>
    </form>
</div>
{% endblock %}
