{% extends "base.html" %}

{% block title %}Create a New Project{% endblock %}

{% block content %}
<div class="project-form">
    <h1>Create a New Project</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
</div>
{% endblock %}
